body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar-item {
  width: 110px;
  background-color: black;
  color: white;
  text-align: center;
}

.sidebar-item:active {
  background-color: white;
  color: red;
}

#wd-kambaz-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 100vh;
  background-color: black;
}

.wd-main-content-offset {
  padding-left: 120px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .wd-main-content-offset {
    padding-left: 140px;
  }
}

.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson {
  border-left: 3px solid green !important;
}
